
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block">Auth0 Authentication</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200">Rails 7 integration</p>
          <%= button_to 'Sign in', '/auth/auth0', method: :post , data:{turbo:false}, class:"mt-8 bg-white border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50"%>
        </div>
      </div>
    </div>
  </div>
